<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body>

<div class="Navbar_controlsWrapper__f71cq">
    <a class="Navbar_logo__X4o9i" title="Home" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="109" height="28" fill="none" class="only-light-theme">
            <g clip-path="url(#logo-full-dark_svg__a)">
                <!-- Logo path -->
            </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="109" height="28" fill="none" class="only-dark-theme">
            <g clip-path="url(#logo-full_svg__a)">
                <!-- Logo path -->
            </g>
        </svg>
    </a>
    <div class="Navbar_navToggle__ViCoF Navbar_active__qyFWv">
        <div class="Navbar_navToggleLine__WcoXg"></div>
        <div class="Navbar_navToggleLine__WcoXg"></div>
        <div class="Navbar_navToggleLine__WcoXg"></div>
    </div>
</div>


<nav class="Navbar_navbar__GrSXC">
    <div class="Navbar_menu__efXDg">
        <a class="Navbar_navlink__ITOiH" href="/store">Store</a>
        <a class="Navbar_navlink__ITOiH" href="/developers">Developer</a>
        <a class="Navbar_navlink__ITOiH" href="/teams">Teams</a>
        <a class="Navbar_navlink__ITOiH" href="/pro">Pro<span class="RedTag_tag__i96tr">New</span></a>
        <a class="Navbar_navlink__ITOiH" href="/changelog">Changelog</a>
        <a class="Navbar_navlink__ITOiH" href="/pricing">Pricing</a>
        <a class="Navbar_navlink__ITOiH" href="/blog">Blog</a>
        <hr>
    </div>
    <div class="Navbar_userInfo__o_QUq">
        <a class="Navbar_navlink__ITOiH" href="/users/sign_in">Log in</a>
        <a href="#" class="Navbar_downloadLink__stAQN">Download</a>
    </div>
</nav>

</body>
</html>